<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} [%X{requestId}] [%X{tenantId}] - %msg%n</Property>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- File Appender for all logs -->
        <RollingFile name="RollingFile" fileName="${LOG_DIR}/va-service.log"
                     filePattern="${LOG_DIR}/va-service-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- File Appender for errors only -->
        <RollingFile name="ErrorFile" fileName="${LOG_DIR}/va-service-error.log"
                     filePattern="${LOG_DIR}/va-service-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <!-- Async Appender for better performance -->
        <Async name="AsyncConsole">
            <AppenderRef ref="Console"/>
        </Async>

        <Async name="AsyncFile">
            <AppenderRef ref="RollingFile"/>
        </Async>

        <Async name="AsyncError">
            <AppenderRef ref="ErrorFile"/>
        </Async>
    </Appenders>

    <Loggers>
        <!-- Application loggers -->
        <Logger name="com.ai.va" level="debug" additivity="false">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
            <AppenderRef ref="AsyncError"/>
        </Logger>

        <!-- Spring Framework loggers -->
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
        </Logger>

        <!-- MongoDB Driver loggers -->
        <Logger name="org.mongodb" level="info" additivity="false">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
        </Logger>

        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
            <AppenderRef ref="AsyncError"/>
        </Root>
    </Loggers>
</Configuration>
